{% extends "base_generic.html" %}

{% block content %}
    {% if request.user.is_authenticated %}

    {% if person == request.user.person or perms.customers.can_see_customers %}
    <h1>{{ person }}</h1>
    <div class="row">
        <a type="button" style="margin:5px" class="btn btn-info" href="{% url 'edit-profile' person.slug %}">Edit Profile</a>
        <a type="button" style="margin:5px" class="btn btn-info" href="{% url 'customers:input-measurements' person.slug %}">Add data</a>
    </div>
    <h6><strong>First name:</strong> {{person.first_name}}</h6>
    <h6><strong>Last name:</strong> {{person.last_name}}</h6>
    <h6><strong>Email:</strong> {{person.user.email}}</h6>
    <h6><strong>Gender:</strong> {{person.gender}}</h6>
    <h6><strong>Date of birth:</strong> {{person.date_of_birth}}</h6>
    <h6><strong>Address:</strong> {{person.address}}</h6>
    <h6><strong>Phone number:</strong> {{person.phone_number}}</h6>
    <div id="my_dataviz"></div>
        {% else %}
            <h4>You cannot view other's profile</h4>
        {% endif %}
    {% else %}
        <h4>To see the content you have to login and have permission!</h4>
    {% endif %}
  
    <div class="col s12 m6 center-align">
        {{ div | safe }}
    </div>
    

{% endblock %}

{% block scripts %}

{{ script | safe  }}
{% endblock %}
