{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}
    <p><font color="red">There was a problem with one of the fields!</font></p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <h2>Sign up Form</h2>
    <form method="post">
    {% csrf_token %}

   {{ form|crispy}}
   
    <button type="submit">Sign up</button>
</form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  
{% endblock %}